body {
    width: 100vw;
    background-color: $color-primary;
    color: $color-secondary;
    font-family: 'Bellota-Regular';
}



#homeImg {
    width: 500px;
    height: 500px;
    padding-right: auto;
    padding-left: auto;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: -1;
}