body {
    width: 100vw;
    background-color: $color-primary;
    color: $color-secondary;
    font-family: 'Bellota-Regular';

}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('assets/picture/hackers-poulette-logo.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}