#contactUs {
    width: 375px;
    background-color: $color-tertiary;
    margin: {
        top: 1rem;
        bottom: 1rem;
        right: auto;
        left: auto;
    }
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#formTitle {
    text-align: center;
    font-size: 1,5rem;
    font-weight: 900;
    text-decoration: underline;
    text-decoration-color: $color-primary;
    text-decoration-thickness: 2px;
    margin-bottom: 1rem;
}

.label {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
}

#submitButton {
    display: block;
    background-color: $color-primary;
    color: $color-secondary;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    margin: {
        right: auto;
        left: auto; 
    }
}
#submitButton:hover {
    background-color: darken($color-primary, 10%);
}
#submitButton:active {
    scale: 0.95;
}

